[kaggle的pandas教程](https://www.kaggle.com/learn/pandas/course)的练习
# 3.Summary Functions and Maps

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 5)
import numpy as np
reviews = pd.read_csv("./winemag-data-130k-v2.csv", index_col=0)
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## 3.1.Summary functions
Pandas提供了许多简单的“摘要函数”（非官方名称），以某种有用的方式重构数据。例如，考虑`describee()`方法：

In [2]:
reviews.points.describe()

count    129971.000000
mean         88.447138
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

此方法生成给定列属性的高级摘要。它是类型感知的，这意味着它的输出会根据输入的数据类型而变化。上述输出仅对数值数据有意义；对于字符串数据，我们得到以下结果：

In [3]:
reviews.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

如果你想获得关于DataFrame或Series中某一列的一些特别简单的汇总统计数据，通常有一个有用的pandas函数可以实现。
例如，要查看分配的分数的平均值（例如，平均评分的葡萄酒有多好），我们可以使用`mean()`函数：

In [4]:
reviews.points.mean()

88.44713820775404

要查看唯一值列表，我们可以使用`unique()`函数：

In [5]:
reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

要查看唯一值的列表以及它们在数据集中出现的频率，我们可以使用`value_counts()`方法：

In [6]:
reviews.taster_name.value_counts()

taster_name
Roger Voss           25514
Michael Schachner    15134
                     ...
Fiona Adams             27
Christina Pickard        6
Name: count, Length: 19, dtype: int64

## 3.2.Maps
**映射**是从数学中借用的一个术语，用于表示一个函数，该函数接受一组值并将其“映射”到另一组值。在数据科学中，我们经常需要从现有数据中创建新的表示，或者将数据从现在的格式转换为我们以后想要的格式。地图是处理这项工作的工具，因此它们对于完成工作非常重要！  
您将经常使用两种映射方法
`map()`是第一个，稍微简单一些。例如，假设我们想将葡萄酒的平均得分变为0。我们可以这样做：

In [7]:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

传递给`map()`的函数期望从Series中获得单独的一个值，并且返回那个值转换之后的值。`map()`返回一个Series，其中所有值都已经被转换  
如果我们想通过在每一行调用自定义方法来转换整个DataFrame，`apply()`是等效的方法。

In [8]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,1.552862,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,1.552862,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

如果我们调用了带有`axis='index'`的`reviews.apply()`，那么我们需要给出一个函数来转换每一列，而不是传递一个函数去转换每一行。  
请注意，`map()`和`apply()`分别返回新的、经过转换的Series和DataFrames。他们不会修改他们被调用的原始数据。如果我们看第一行`reviews`，我们可以看到它仍然有其原始的`points`值。

In [9]:
reviews.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

Pandas内置了许多常见的映射操作。例如，这里有一种更快的方法来记忆我们的points列：

In [10]:
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

在这段代码中，我们在左侧的许多值（序列中的所有值）和右侧的单个值（平均值）之间执行操作。Pandas看了这个表达式，发现我们必须从数据集中的每个值中减去这个平均值。  
Pandas也会明白，如果我们在等长序列之间执行这些操作，该怎么办。例如，将国家和地区信息合并到数据集中的一种简单方法是执行以下操作：

In [11]:
reviews.country + " - " + reviews.region_1

0            Italy - Etna
1                     NaN
               ...
129969    France - Alsace
129970    France - Alsace
Length: 129971, dtype: object

这些运算符比`map()`或`apply()`快，因为它们使用pandas内置的加速功能。所有标准Python运算符(`>`,`<`,`==`等)都以这种方式工作。  
然而，它们不如`map()`或`apply()`灵活，后者可以做更高级的事情，比如应用条件逻辑，这不能仅通过加减法完成。
# 4.Grouping and Sorting

## 4.1.Groupwise analysis
到目前为止，我们一直在大量使用的一个函数是`value_counts()`函数。我们可以通过执行以下操作来复制`value_counts()`的功能：

In [12]:
reviews.groupby('points').points.count()

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

`groupby()`创建了一组reviews，为给定的葡萄酒分配了相同的point值。然后，对于每个组，我们抓住`points()`列并计算它出现的次数。`value_counts()`只是此`groupby()`操作的快捷方式。
我们可以使用之前使用过的任何“摘要函数”来处理这些数据。例如，为了在每个点值类别中获得最便宜的葡萄酒，我们可以执行以下操作：

In [13]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

您可以将我们生成的每个组视为DataFrame的一个片段，其中只包含具有匹配值的数据。我们可以使用`apply()`方法直接访问此DataFrame，然后我们可以以任何我们认为合适的方式操纵数据。例如，这里有一种方法可以选择数据集中每个酒厂审查的第一款葡萄酒的名称：

In [14]:
'''
reviews.groupby('winery')返回的是若干个分组，每个分组内有若干元素，一个元素对应一行
reviews.groupby('winery')['title']也返回若干分组，但是组内元素是之前一行的'title'列对应的元素
'''
reviews.groupby('winery')['title'].apply(lambda df: df.iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Name: title, Length: 16757, dtype: object

## 4.2.Multi-indexes

## 4.3.Sorting