In [1]:
import warnings
import pandas as pd
import numpy as np
# warnings.filterwarnings('ignore')
df_train = pd.read_csv("./testData.csv")
df_train

   HasBsmt  TotalBsmtSF
0        0            0
1        0            4
2        1            6
3        1            1

In [2]:
df_train.loc[df_train['HasBsmt']==1,'TotalBsmtSF']

2    6
3    1
Name: TotalBsmtSF, dtype: int64

In [3]:
np.log(df_train['TotalBsmtSF'])

C:\Users\10702\anaconda3\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0        -inf
1    1.386294
2    1.791759
3    0.000000
Name: TotalBsmtSF, dtype: float64

In [4]:
print(df_train.loc[df_train['HasBsmt']==1,'TotalBsmtSF'])
print(np.log(df_train['TotalBsmtSF']))

2    6
3    1
Name: TotalBsmtSF, dtype: int64
0        -inf
1    1.386294
2    1.791759
3    0.000000
Name: TotalBsmtSF, dtype: float64

In [5]:
df_train.loc[df_train['HasBsmt']==1,'TotalBsmtSF'] = np.log(df_train['TotalBsmtSF'])

C:\Users\10702\AppData\Local\Temp\ipykernel_19268\70658756.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1.79175947 0.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_train.loc[df_train['HasBsmt']==1,'TotalBsmtSF'] = np.log(df_train['TotalBsmtSF'])

In [6]:
df_train.loc[df_train['HasBsmt']==1,'TotalBsmtSF']

2    1.791759
3    0.000000
Name: TotalBsmtSF, dtype: float64

In [7]:
df_train['TotalBsmtSF'];

In [8]:
print('hello world');

hello world